<%= form_with model: [:user, @client_card] do |form| %>
  <% if client_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_card.errors.count, "error") %> prohibited this client_card from being saved:</h2>

      <ul>
      <% client_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :many %>
    <%= form.number_field :many %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :deadlines %>
    <%= form.date_select :deadlines %>
  </div>

  <div class="field">
    <%= form.label :contract_id %>
    <%= form.number_field :contract_id %>
  </div>

  <div class="field">
    <%= form.label :action_id %>
    <%= form.number_field :action_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
